<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-GXzOBgklSG4cdFzA3vKu-pT0OWrEEfo</string>
	<key>GCM_SENDER_ID</key>
	<string>128133582398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.advicts.smartdrum</string>
	<key>PROJECT_ID</key>
	<string>drum-c70f4</string>
	<key>STORAGE_BUCKET</key>
	<string>drum-c70f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128133582398:ios:f4ee1e79a428d668970b6f</string>
</dict>
</plist>